header {
	background-image: url(../images/logo.png);
	height: 70px;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #CCCCCC;
	background-repeat: no-repeat;
}
header.logo {
	margin-left: 20px;
}
